.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  
  background-color: var(--card);
  color: var(--card-foreground);
  width: 100%;
  max-width: 600px;

  padding: 32px;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}